<?xml version="1.0" encoding="UTF-8"?>


<!--
    In the below kind of configuration, 3 types of loggings are maintained
    1 - Console logging STDOUT - picks everything from both main and lib app as its included in <root> logger tag
    2 - File-Audit - logs only main application level logging and at its level choosen
    3 - File-Error - logs everything from both main and lib apps as its included in <root> tag
-->

<configuration>

    <property name="DevHome" value="/opt/logs/parking_lot"/>
    <timestamp key="bySecond" datePattern="yyyyMMdd.HHmmss"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36}.%M\(%line\): %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="org.muks.parking" level="debug">
        <appender-ref ref="STDOUT" />
    </logger>



    <appender name="APPLICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DevHome}/parking_app.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36}.%M\(%line\)]: %msg%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${DevHome}/%d{yyyy/MM/dd}/archived/parking_app.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="org.muks.parking" level="debug" additivity="true">
        <appender-ref ref="APPLICATION"/>
    </logger>


    <appender name="TestLog" class="ch.qos.logback.core.FileAppender">
        <file>${DevHome}/tests.log</file>
        <append>true</append>
        <encoder>
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level]: %msg%n</Pattern>
        </encoder>
    </appender>
    <!-- additivity=false ensures analytics events only goes to the analytics log -->
    <logger name="TestLog" level="debug" additivity="false">
        <appender-ref ref="TestLog"/>
    </logger>


</configuration>